
    body {
        background-image: url('bg.jpg'); 
        background-size: cover; 
        background-repeat: no-repeat; 
        background-attachment: fixed;
    }
    .logo{
        margin-left: 100px;
        margin-bottom: 10x;
        align-items: center;
    }
    .logo img{
            align-items: center;
            width: 80px;
            height: 80px;
            border: 3px solid white;
    }
    h1 {
        text-align: center;
        color: #ffffff;
        padding: 20px;
    }
    
    form {
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #020202ca;
        border-radius: 15px ;
    }
    
    label{
        color: #f9f1f1;
        font-size: 17px;
    }
    #Uname{
        width: 300px;
        height: 30px;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        background-color: #f7bdbd20;
    }
    #Email{
        width: 300px;
        height: 30px;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        background-color: #f7bdbd20;
    }
   
    #Age{
        width: 300px;
        height: 30px;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        background-color: #f7bdbd20;
    }
    #Pass{
        width: 300px;
        height: 30px;
        margin-top: 20px;
        border: none;
        border-radius: 3px;
        padding-left: 8px;
        background-color: #f7bdbd20;
    
    }
  
    
    #sign{
        width: 300px;
        height: 30px;
     
       margin-top: 20px;
        border: none;
        border-radius: 20px;
        padding-left: 7px;
        color: rgb(239, 230, 230);
        background-color: #03040a;
    }
    
    .log{
        margin-left: 10px;
        color: #edeaea;
    }
